[submodule "tnvse/third_party/freetype-2.14.3"]
	path = tnvse/third_party/freetype-2.14.3
	url = https://github.com/freetype/freetype.git
[submodule "tnvse/third_party/libunibreak"]
	path = tnvse/third_party/libunibreak
	url = https://github.com/adah1972/libunibreak.git
