root = true
[*]

resharper_cpp_function_is_not_implemented_highlighting=none
resharper_cpp_clang_tidy_cppcoreguidelines_special_member_functions_highlighting=none
resharper_cpp_member_function_may_be_const_highlighting=none
resharper_cpp_class_can_be_final_highlighting=none
resharper_cpp_non_explicit_converting_constructor_highlighting=none
resharper_cpp_non_explicit_conversion_operator_highlighting=none
resharper_cpp_member_function_may_be_static_highlighting=none
resharper_cpp_polymorphic_class_with_non_virtual_public_destructor_highlighting=none
resharper_cpp_clang_tidy_clang_diagnostic_non_virtual_dtor_highlighting=none